/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Oxygen */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

/* GLOBAL TWEAKS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* GLOBAL TWEAKS END */

/* HEADER */
.header-container {
  background-color: #131313;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container div h1 {
  color: #ffc700ff;
  margin: 0 10px;
}

.header-container div span #logo {
  font-size: 25px;
  position: relative;
  top: -3px;
}

nav ul {
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover{
  color: red;
  background-color: #fff;
  padding: 3px;
  border-radius: 50px;

}

.sword{
  color: red;
  font-size: 10px;
}

/* HEADER END*/

/* SECTION - WELCOME */

section {
  background-color: #e94822ff;
}

.welcome-container {
  height: 20em;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 3em 50px;
}

.menu-link h2 {
  color: #fff;
  font-size: 3rem;
}

.forward-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.forward-link a {
  text-decoration: none;
  color: #000;
}

.forward-link #right-arrow {
  margin: 0 4px;
}

#restaurant {
  max-width: 400px;
}

/* SECTION - WELCOME END*/

/* ARICLE MENU */
.food-gallery{
    height: fit-content;
    padding: 30px;
    background: url("img/food\ illus\ blured\ bkg.jpg");
    background-size: 20em;
    border: 1px solid #bd85ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.food-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 324px;
    background-color: #ee6c16;
    margin: 10px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: black 5px 5px 2px;
    align-items: center;
    border: #000 solid 2px;
}
.food-card #image-one, #image-three{
    max-width: 250px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}
.food-card .stars{
    position: relative;
    left: -70px;
    color: #0011ff;
}
.food-title{
    display: flex;
    margin: 0 5px;
    border: 2px solid #000000;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 20px;
    background-color: #e01515;
}
.food-title h5,p{
    margin: 10px 15px;
}
.food-title h5{
    font-style: italic;
    color: #ffffff;
    background-color: #23178f;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 0 5px;
    margin-inline: 5px;
}
.food-title p{
    background-color: yellow;
    padding: 0 2px;
    border: 1px solid #000;
    border-top-right-radius: 10px;
}
.food-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-desc p{
    margin-top: 25px;
    text-align: center;
    color: #000808;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}
.food-card a{
    text-decoration: none;
    background-color: #000;
    border-radius: 50px;
    padding: 5px;
    color: #fff;
    position: relative;
    left: -100px;
    transition: all 0.3s ease-in-out;
}
.food-card a:hover{
    color: #00aeff;
    
    
}
.food-card .purchase{
    margin-top: 20px;
}


            /* SECOND CARD */
.food-card #image-two{
    max-width: 250px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

/* ARICLE MENU END*/

/* NEWSLETTER */
.newsletter{
  height: 10em;
  background-color: #542BF5FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter-wrapper h3{
  color: #fff;
}
.newsletter-wrapper h3 .fa-share{
  position: relative;
  left: 10px;
  transform: rotate(140deg);
  color: #000;
}




































/*<<|************* MEDIA QUERY *************|>>*/

@media (max-width: 768px) {
  /* HEADER */
  .header-container {
    padding: 10px;
    flex-direction: column;
  }

  /* SECTION - WELCOME */
  .welcome-container {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .menu-link h2 {
    font-size: 25px;
  }

  .forward-link {
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 30px;
  }

  .forward-link #right-arrow {
    transform: rotate(90deg);
  }

  #restaurant {
    max-width: 20em;
    border: 2px yellow solid;
    position: relative;
    top: -20px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  /* NEWSLETTER */
  /* Note : to get another visual style delete all these properties below */
          /* form{
            display: flex;
            justify-content: space-around;
            margin: 10px 0;
          }

          .email-form{
            width: 170px;
          } */
  /* Note : the deletion stops here. */
}